@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: #FFF9EA;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 20px;
    font-weight: 700;
}
nav ul {
    display: flex;
    gap: 25px;
}
nav ul li{
    list-style: none;
    color: #1D1D1D;
}
nav ul li:hover{
    border-bottom: 3px solid #FFCB45;
    border-radius: 2px;
    color: #000;
    font-weight: bold;
}

.button-links{    
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn{        
    font-weight: bold;
    background-color: #FFCB45;
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn:hover{        
    background-color: #FFAC4B;
    transition: 0.5s;
}



/******************** nav style done ********************/

.top-section{
    display: flex;
    height: 450px;
    background: url('./images/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-section span{
    color: #FFCB45;
}

.top-section h2{
    font-size: 48px;
}

.top-section div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    justify-content: center;
}


/******************** top section done ********************/

.service-section{
    margin: 50px 0;
}

.service-intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-intro p span{
    color: #FFCB45;
}

.service-intro p{
    color: #1D1D1D;
}

.services{
    padding: 20px 100px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.services div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}